/apps/
target/
#pom.xml.tag
#pom.xml.releaseBackup
#pom.xml.versionsBackup
#pom.xml.next

appium-cucumber.iml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

!/pom.xml
/.idea/
/src/browser/
